<div class="general-wrapper">
    <div class="container containerOverride user-create-form">
    <section class="content">
        <div class="box new-user col-lg-6 overloadbox">
            
                <form name="userform" novalidate ng-submit="ChangePassword()">
                    <div class="row">
                        <div ng-show="error" class="alert alert-danger">{{Error}}</div>
                        <div ng-show="Message" class="alert alert-success">{{Message}}</div>
                        <div class="col-md-12">
                            <div class="form-group placeholder placeholderOverride">
                                <label>Password</label>
                                <input type="password" required ng-model="Password" class="form-control" />
                            </div>
                            <div class="form-group placeholder placeholderOverride">
                                <label>Confirm Password</label>
                                <input equals="{{Password}}"  required ng-model="ConfirmPass" type="password" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <button class="btn btn-primary" ng-disabled="userform.$invalid" type="submit">Change Password</button>
                            <a class="btn btn-default" href="#/dashboard">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
       
    </section>  

    </div>
</div>
