
<style>
    .modal-dialog {
        width: 30% !important;
        height: 20% !important;
    }
</style>
<div class="box no-border model">
    <div class="box-body mejor">
        <div class="modal-header">
            <button type="button" class="close" ng-click="Cancel()">&times;</button>
            <h3 class="modal-title">Take Picture</h3>
        </div>
        <div class="modal-body">
           <mg-camera></mg-camera>
        </div>
        <div class="modal-footer no-border footerNoPad">
            <div class="button  imagemodelfooter">
                <button class="btn" id="btnClick">OK</button>
                <button class="btn" style="margin-right: 0px !important;" ng-click="Cancel()">Cancel</button>
            </div>
        </div>

    </div>

</div>

