
<div class="box no-border model" >
    <div class="box-body mejor">
       <div class="modal-header">
            <h3 class="modal-title warningTextFont">You have unsaved information. Do you want to save this information?</h3>
        </div>
        <div class="modal-footer no-border">
            <div class="button col-md-10">
                <button class="btn"  ng-click="Ok()">Yes</button>
                <button class="btn"  data-dismiss="modal" ng-click="Cancel()" type="button"">No</button>
            </div>
        </div>
    </div>
</div>