<div class="container containerOverride">
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">

            <form>
                   <div class="form-group placeholder placeholderOverride ">
                    <label class="label-margin"> Name</label>


                    <input type="text" ng-model="Group.Name" class="form-control" />
                </div>
                 <button ng-click="UpdateGroup()" class="btn btn-primary button-margin ">Edit</button>
                   <a class="btn btn-default" href="#/groups">Cancel</a>
                  </form>

            <div>
            </div>
        </div>
    </div>
</div>
